<div class="container">
  <section class="main">
    <h2>My best work:</h2>
    <img src="https://i.kym-cdn.com/entries/icons/original/000/002/017/n307683349254_180.jpg" alt="">
  </section>
  <section class="my-work">
    <h3>Here is a list of all my work:</h3>
    <% @buildings.each do |b| %>
      <div class="buildings"><%= image_tag b.image %></div>
      <%= b.title %>
    <% end %>
  </section>
</div>