<html>
  <body>
    <div style="padding-left:16px">
      <h2>Hello, my name is Matt Butler</h2>
      <p>This is my portfolio</p>
    </div>
    <section>
      <div class="btn">
        <%= link_to "View my work", portfolio_path %>
      </div>
    </section>
  </body>

</html>